@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap';
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';


.hero-body {
    overflow: hidden;
    left: 0;
    right: 0;
    .background {
        position: absolute;
    }
    .container {
        .columns {
            .column {
                display: flex;
                justify-content: center;
                align-items: center;
                .bannerImg {
                    height: auto;
                    width: 100%;
                    display:block;
                }
                .bannerTitle {
                /* Hörnet & Västerås */
                width: 464px;
                height: 174px;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 800;
                font-size: 92px;
                line-height: 87px;
                /* or 95% */


                /* Color / Black */

                color: #000000;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 0;
                }
            }
        }
    }
}
