@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import 'bulma/sass/utilities/mixins.sass';

.deliveryServices-section {
    margin: 0px 0px 80px 0px;
    @include mobile {
        margin: 0;
    }
    .deliveryServices-container {
         .deliveryServices-columns {
            .left-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                padding: 0px;
                gap: 16px;
                width: 546px;
                height: 84px;

                flex: none;
                order: 0;
                flex-grow: 0;
                @include mobile {
                    width: auto;
                    height: auto;
                    padding: 48px 24px 24px 24px;
                }
                h3 {
                    width: 546px;
                    height: 40px;
    
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 32px;
                    line-height: 40px;

                    color: #000000;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    flex-wrap: wrap;
                    @include mobile {
                        width: auto;
                        height: auto;
                        text-overflow: clip;
                    }
                }
                p {
                    width: 546px;
                    height: 28px;
    
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    color: #000000;

                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    @include mobile {
                        width: auto;
                        height: auto;
                        text-overflow: clip;
                    }
                }
            }
            .right {
                @include mobile {
                    width: 100%;
                }
                .right-links{
                    @include mobile {
                        margin: 0;
                        padding: 0px 0px 20px 0px;
                        display: flex;
                        flex-direction: row;
                    }
                    .column {
                        padding: 0;
                        width: auto;
                        height: auto;
                        .wolt {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 24px 48px;
                            gap: 10px;

                            width: 161.9px;
                            height: 72px;

                            background: #ECD4AC;

                            
                            border-radius: 0%;
                            border-right: solid #FFFFFF 2px;
                            @include mobile {
                                width: 100%;
                                height: 100%;
                                padding: 12px 24px;
                            }
                        }
                        .foodora {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 24px 48px;
                            gap: 10px;

                            width: 180.55px;
                            height: 72px;

                            background: #ECD4AC;

                            
                            border-radius: 0%;
                            @include mobile {
                                width: 100%;
                                height: 100%;
                                padding: 12px 24px; 
                            }
                        }
                        .waytogo {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 24px 48px;
                            gap: 10px;

                            width: 203.52px;
                            height: 72px;

                            background: #ECD4AC;

                            
                            border-radius: 0%;
                            border-left: solid #FFFFFF 2px;
                            @include mobile {
                                width: 100%;
                                height: 100%;
                                padding: 12px 24px;
                            }
                        }
                    }
                }
            }
        }
    }     
}


