@import 'https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap';
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

.footer {
    padding: 48px 48px 48px 48px;
    //background: radial-gradient(100% 351.56% at 0% 48.14%, #FDF5E9 20.83%, #FFFFFF 48.44%, #FDF5E9 79.17%), url("/images/footer/footerImg.png");
    background: radial-gradient(100% 351.56% at 0% 48.14%, #FDF5E9 20.83%, #FFFFFF 48.44%, #FDF5E9 79.17%), url("/images/footer/footerImg.png") no-repeat top center;
    background-size: cover;
    background-blend-mode: soft-light;
    .footer-container {
        .footer-socials {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            .footer-inner {
                .footer-inner-content {
                    .footer-icon {
                        padding: 10px;
                    }
                    .copyright {
                        padding: 10px;
                    }
                }
            }
        }  
        .footer-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .footer-toTop {
            display: flex;
            justify-content: center;
            align-items: center;
            .footer-toTop-inner {
                .toTop {
                    position: fixed;
                    bottom: 70px;
                    right: 100px;
                    z-index: 100000;
                }
            }
        }
    }
}