@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';

.info-section {
    .info-container {
        .info-columns {
            .info-left {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    .info-label-container{
                        .info-label {                 
                            width: 318px;
                            height: 20px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            /* identical to box height */


                            /* Color / Shade 2 */

                            color: #A98456;
                        }
                        .info-content {
                            width: 318px;
                            height: 20px;


                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            /* identical to box height */


                            /* Color / Black */

                            color: #000000;
                        }
                    }

                .workinghours {
                    display: flex;
                    flex-direction: column;
                    .workinghours-label {
                        width: 318px;
                        height: 20px;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height */


                        /* Color / Shade 2 */

                        color: #A98456;
                    }
                    .days {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        .day {
                            margin: 0px 20px 20px 0px;
                            .day-label {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                                /* identical to box height */


                                /* Color / Black */

                                color: #000000;
                            }
                            .day-time {
                                width: 112px;
                                height: 20px;


                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 20px;
                                /* identical to box height */


                                /* Color / Black */

                                color: #000000;
                            }
                        }
                        
                    }
                }
                .special-workinghours {
                    .special-label {
                        /* Avvikande öppettider */

                        width: 318px;
                        height: 20px;


                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height */


                        /* Color / Shade 2 */

                        color: #A98456;
                    }
                    .special-date {
                        width: 114px;
                        height: 20px;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height */


                        /* Color / Black */

                        color: #000000;
                    }
                    .special-time {
                        width: 112px;
                        height: 20px;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height */


                        /* Color / Black */

                        color: #000000;
                    }
                }
            }
            .info-right {
                display: flex;
                align-items: center;
                justify-content: center;
                .info-map {
                   height: 80%;
                   height: 80%;
                }
            }
        }
    }
}