@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import 'https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;400;700&display=swap';

.menu-section {
    .menu-container {
        .menu-rows {
            .menu-label {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                margin: 40px;
                .menu-label-front {
                    font-family: 'Montserrat';
                    text-transform: capitalize;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 20px;

                    /* Color / Black */

                    color: #000000;

                }
                .menu-label-back {
                    font-family: 'Montserrat';
                    text-transform: capitalize;
                    font-weight: 800;
                    font-size: 54px;
                    line-height: 0px;
                    /* identical to box height */

                    text-align: center;

                    /* Color / Black */

                    color: #000000;

                    opacity: 0.05;
                }
            }
            .menu-navbar {
                display: flex;
                justify-content: center;
                align-items: center;
                .menu-navbar-option-active {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 24px;
                    
                    gap: 10px;

                    width: 104px;
                    height: 41px;
                    /* Color / Primary */

                    background: #ECD4AC;
                    transition: 0.5s ease;
                    cursor: pointer;
                    .menu-option-label {
                        width: 56px;
                        height: 17px;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        /* identical to box height */


                        /* Color / Black */

                        color: #000000;


                        /* Inside auto layout */

                        flex: none;
                        order: 0;
                        flex-grow: 0;
                    }
                }
                .menu-navbar-option-active:hover {
                    background-color: #d4b989;
                    transition: 0.5s ease;
                }
                .menu-navbar-option-inactive {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 24px;
                    gap: 10px;

                    width: 104px;
                    height: 41px;
                    /* Color / Primary */

                    background: #FFFFFF;
                    transition: 0.5s ease;
                    cursor: pointer;
                    .menu-option-label {
                        width: 39px;
                        height: 17px;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        /* identical to box height */


                        /* Color / Black */

                        color: #000000;

                    }
                }
                .menu-navbar-option-inactive:hover {
                    background-color: #e4e3e3;
                    transition: 0.5s ease;
                }
            }
            .category {
                display: flex;
                justify-content: center;
                align-items: center;
                .category-label {
                    
                    margin: 20px;

                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 29px;

                    /* Color / Black */

                    color: #000000;
                }
            }
            .menu-body {
                margin: 20px;
                .menu-row {
                   justify-content: center;
                   .item-wimg {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                    .menu-item-description {
                        width: 432px;
                        height: 204px;
                        .item-title {
                            width: 201px;
                            height: 29px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;
                            margin: 5px;

                            /* Color / Black */

                            color: #000000;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }
                        .item-description {
                            width: 201px;
                            height: 36px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            margin: 5px;
                            /* or 150% */


                            /* Color / Grey */

                            color: #918E89;


                            /* Inside auto layout */

                            flex: none;
                            order: 1;
                            flex-grow: 0;
                        }
                        .item-price {
                            width: 73px;
                            height: 22px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            margin: 20px 0px 0px 10px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            text-align: right;

                            /* Color / Shade 2 */

                            color: #A98456;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }
                        .item-tags {
                            display: flex;
                            flex-direction: row;
                            .item-tag {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                padding: 4px 8px 4px 8px;
                                gap: 10px;
                                margin: 5px;

                                /* Color / Primary */

                                background: #ECD4AC;
                                border-radius: 100px;

                                /* Inside auto layout */

                                flex: none;
                                order: 1;
                                flex-grow: 0;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 10px;
                                line-height: 16px;
                                /* identical to box height, or 160% */


                                /* Color / Black */

                                color: #000000;
                            }
                        }
                    }
                   }
                   .item-noimg {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                    .menu-item-description {
                        width: 432px;
                        height: 204px;
                        .item-title {
                            width: 201px;
                            height: 29px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;
                            margin: 5px;

                            /* Color / Black */

                            color: #000000;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }
                        .item-description {
                            width: 434px;
                            height: 54px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 18px;
                            margin: 5px;
                            /* or 150% */


                            /* Color / Grey */

                            color: #918E89;


                            /* Inside auto layout */

                            flex: none;
                            order: 1;
                            flex-grow: 0;
                        }
                        .item-price {
                            width: 73px;
                            height: 22px;

                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            margin: 20px 0px 0px 10px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            text-align: right;

                            /* Color / Shade 2 */

                            color: #A98456;


                            /* Inside auto layout */

                            flex: none;
                            order: 0;
                            flex-grow: 0;
                        }
                        .item-tags {
                            display: flex;
                            flex-direction: row;
                            .item-tag {
                                display: flex;
                                flex-direction: row;
                                align-items: flex-start;
                                padding: 4px 8px 4px 8px;
                                gap: 10px;
                                margin: 5px;

                                /* Color / Primary */

                                background: #ECD4AC;
                                border-radius: 100px;

                                /* Inside auto layout */

                                flex: none;
                                order: 1;
                                flex-grow: 0;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 10px;
                                line-height: 16px;
                                /* identical to box height, or 160% */


                                /* Color / Black */

                                color: #000000;
                            }
                        }
                    }
                   }
                }
            }
        }
    }
}