@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css';
@import 'bulma/sass/utilities/mixins.sass';

.navbar-header {
    height: 66px;
    left: 0;
    top: 0;
    right: 0;

    /* Color / White */

    background: #FFFFFF;
    /* Shadow */

    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);
    align-items: center;
    position: fixed;
    z-index: 100;
    display: flex;

    @include mobile {
        height: 110px;
        position: relative;
        align-items: flex-end;
    }
    .navbar-container {
        @include mobile {
            padding: 20px;
        }
        .navbar-columns {
            @include mobile {
                display: flex;
                justify-content: space-between;
            }
            .navbar-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                @include mobile {
                    justify-content: flex-start;
                }
            }
            .navbar-options {
                display: flex;
                justify-content: center;
                align-items: center;
                @include mobile {
                    display: none;
                }
                .options {
                    /* Auto layout */

                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 40px;                    
                    width: 325px;
                    height: 17px;

                    .option {
                        font-weight: 400;
                        color: #918E89;
                        transition: 0.2s ease;

                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 17px;

                        flex: none;
                        flex-grow: 0;
                        cursor: pointer;
                        color: #918E89;

                        &.active {
                            font-weight: 700;
                            color: #000;
                            transition: 0.2s ease;
                        }
                    }
                }
            }
            
            .navbar-button {
                @include mobile {
                   display: none;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                .navbar-orderButton {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 26px;
                    gap: 10px;

                    /* Color / Primary */

                    background: #ECD4AC;
                    /* Shadow */

                    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.04);

                    
                    width: 259px;
                    height: 48px;
                    border-radius: 0%;
                    transition: 0.5s ease;
                    .button-label {
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        /* identical to box height */


                        /* Color / Black */

                        color: #000000;
                    }
                }
            }
            .navbar-orderButton:hover {
                background-color: #d4b989;
                transition: 0.5s ease;
            }
            .navbar-mobile-buttons {
                display: none;
                @include mobile {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                img {
                    padding-left: 20px;
                }
                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        padding: 5px;
                    }
                }
            }
        }
    }
}